

.padding__wrapper {
  background: $pure-white;
  padding-top: $padding * 2;
  padding-bottom: $padding * 3;
}

.content__wrapper {
  padding: 0 $padding;
}

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $paddingButton;
  color: $pure-white;
  font-weight: 700;
  font-family: $font-family;
}

p {
  margin: 0 0 $padding 0;
}


@media only screen and (min-width: 700px) {
  .content__wrapper {
    padding: 0 $padding * 2;
  }
}