.wrapper {
  padding: 0 $padding;
}

.button {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $padding;
  color: $pure-white;
  font-weight: 700;
  font-family: $font-family;
}

p {
  margin: 0 0 $padding 0;
}
